table{
    border-collapse: collapse;
    border-width:medium;
    border-style: solid;
    border-color:brown;
    text-align: center;
    
}
th{
    font-weight: 800;
    font-family:serif;
    background-color:brown;
    color:black;
    width:10%;
    height:20px;
}
